body {
    background: linear-gradient(to left, rgb(217, 210, 247), rgb(245, 229, 247));
}

.col-md-12 {
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(122, 214, 228), rgb(221, 206, 71));

}

.pyramid {
    position: absolute;
    right: 50vw;
    bottom: 0;
    width: 0;
    height: 0;
    transform: translateX(0);
    border-style: solid;
    border-width: 0 100vw calc(100vw * 1.2) 100vw;
    border-color: transparent transparent #ad710f transparent;
}

.sand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11.5vw;
    min-height: 8rem;
    background: linear-gradient(to bottom, rgb(5, 56, 122), rgb(113, 218, 242));
}

.ternary-system {
    position: absolute;
    bottom: 0;
    left: 82vw;
    transform: translateX(-100%);
}

.sun {
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(245, 172, 46), rgb(231, 247, 9));
}

.sun.primary {
    position: absolute;
    top: 15vw;
    left: 5vw;
    width: 1rem;
    height: 1rem;
}

.sun.secondary {
    position: absolute;
    top: 5vw;
    left: 11vw;
    width: 16vw;
    max-width: 6rem;
    height: 16vw;
    max-height: 6rem;
}

.sun.ternary {
    right: 0;
    transform: translateX(10.8rem);
    width: 80vw;
    max-width: 800px;
    height: 80vw;
    max-height: 800px;
}

.pendulums {
    position: absolute;
    width: 50px;
    height: 195px;
    right: 35vw;
    top: -120px;
    perspective: 400px;
}

.pendulum {
    position: absolute;
    width: 50px;
    height: 195px;
    right: 44%;
    top: 0;
    left: 50%;
    transform: translateZ(-300px) translateX(-50%);
}

.pendulum.shadow {
    top: 265%;
    left: -70%;
    bottom: 0;
    transform-origin: 50% 0;
    transform: translateX(-50%) scaleY(-1) scaleZ(2) rotateY(-30deg) rotateX(-75deg) translateZ(300px);
}

.pendulum .bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    width: 20px;
    height: 200px;
    background: #333;
}

.pendulum .string {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 150px;
    background: #333;
}

.pendulum .weight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
}

.pendulum .motion {
    position: absolute;
    height: 200px;
    width: 50px;
    transform-origin: 50% 10px;
    animation: swing 1600ms infinite ease-in-out;
}

.pendulum.shadow .bar,
.pendulum.shadow .string,
.pendulum.shadow .weight {
    background: #3d3a34;
}

.text {
    position: absolute;
    width: auto;
    right: 18vw;
    transform: translateY(50%);
    font-size: 2.4rem;
}

.title {
    text-align: center;
    font-size: 1em;
    font-family: "Oswald";
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 0;
    color: #222;
}

.title strong {
    display: block;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
}

.title em {
    font-style: normal;
    font-weight: 400;
    font-size: 1.899em;
    line-height: 1em;
    letter-spacing: 0.29em;
    margin-left: 0.25em;
}

#na {
    position: absolute;
    transform: translateX(3em);
    font-family: "Oswald";
    font-size: 0.6em;
    color: #222;
    margin: 0 17px;
    padding: 0;
    text-align: right;
}

@keyframes swing {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@media only screen and (orientation: portrait) {
    .text {
        right: 50%;
        top: 10%;
        transform: translateX(50%);
        font-size: 7vw;
    }

    .title {
        font-size: 1em;
    }
}

.col-md-5 {
    background-color: rgba(248, 248, 249, 0.397);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1%;
    margin: 3%;
    margin-left: 4.5%;
}

#cv-form,
#cv-template {
    display: none;
}

.myimg {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: no-repeat;
    background-size: cover;
    margin: 10px auto;
    height: 250px;
    width: 250px;
}

.container {
    width: 100%;
}

.card {
    border-style: none;
}

.card-header {
    border-style: none;
}

.bg {
    background-color: rgb(205, 236, 254);
}


#cv-template {
    width: 100vw;
    height: 100vh;
}

@media print {
    body {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-size: 10pt;
    }

    #printbutton {
        display: none;
    }
}
